@use "../abstracts/variables" as var;
@use "../abstracts/functions" as fct;
@use "../abstracts/mixins" as mix;

.#{var.$prefix}__title {
	text-align: center;
	margin-bottom: map-get(var.$gap, "sm");
}

@media only screen and (min-width: map-get(var.$breakpoints, "md")) {
	.#{var.$prefix}__title {
		text-align: left;
	}
}
