@use "variables" as var;

// ################# //
//       Shape       //
// ################# //
@mixin roundCorner($radius) {
	border-radius: $radius;
}

// ################# //
//      Animate      //
// ################# //
@mixin transition {
	transition: 0.25s ease-in-out;
}

@mixin transitionShort {
	transition: 0.1s ease-in-out;
}

// ################# //
//      Layout       //
// ################# //
@mixin flexFullCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin horizontalCenter {
	display: flex;
	justify-content: center;
}

@mixin verticalCenter {
	display: flex;
	align-items: center;
}

@mixin spanInAbsolute {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin resetSpanInAbsolute {
	top: unset;
	right: unset;
	bottom: unset;
	left: unset;
}
